= provide(:title, 'About')
%h1 about
%p
  = link_to 'Ruby on Rails Tutorial', 'https://railstutorial.jp/'
  is a
  = link_to 'book', 'https://railstutorial.jp/#screencast'
  and
  = link_to 'screencast', 'https://railstutorial.jp/#screencast'
  to teach web development with
  = link_to 'Ruby on Rails', 'http://rubyonrails.org/'
  \.This is the sample application for the tutorial.
